*{
	border: 0;
	padding: 0;
	margin: 0;
}

.topo{
	background-image: linear-gradient(to bottom, #85fbff, rgba(255,0,0,0));
}


.logo{
	width: 105px;
	float: left;
}

.container img{
	width: 250px;
}

#logo{
	 background-image: linear-gradient(to top, rgba(255,0,0,0), rgba(255,255,255,1));

}

.topo p{
position: relative;
top: 25px;
font-size: 2.2em;
font-style: italic;
}


#home video{
	border-radius: 35px;
	width: 310px;
	position: relative;
	left: 60PX;

}

.lateral{
	border-left: 1PX GREY solid;
	padding: 5PX;
}

.lateral h3{
	padding: 18px 0 18px 85px;
}

.lateral button{
margin: 18px 0 18px 35px;
width: 335px;
}

.rodape img{
	width: 175px;
	height: 135px;
	padding: 0 25px 25px 25px;
	margin: 29px;
}

.rodape h1{
	background-image: linear-gradient(to bottom, #85fbff, rgba(255,0,0,0));
	padding: 35px 0 0 0 ;
	max-width: 1405px;
	height: 111px;
}

.rodape a{
	opacity: 40%;
}

.rodape a:hover{
	cursor: pointer;
	opacity: 100%;
}


.datas{
		border-top: 4PX GREY solid;
		padding-top: 10px;
		max-width: 335px;
		border-radius: 12%;
}
.datas .princ{
width: 290px;
}
