/* ---------------------------- Rules --------------------------------------- */

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

:root{
 --cor1: #A4FFFF; /* Cor principal */
 --cor2: #FFDEA3; /* Laranja amarelado */
 --cor3: #A3FFCB; /* Esverdeado */
 --cor4: #FFC5A3; /* Vermelho Claro */
 --cor5: #BEE5E5; /* Azul clarinho */
}



/* ---------------------------- Inicio oficial --------------------------------------- */


*{
	margin: 0;
	padding: 0;
	
}

body{
	
}

.container{
	background-color: var(--cor1);
	box-shadow: 0px 3px 8px lightgray;
	margin: auto;
	margin-top: 15px;
	border-radius: 7px;

}

.cabecalho h1{
	color: black;
	font-family: 'Cinzel', serif;
	width: 420px;
	font-size: 2.5em;
	padding-top: 15px;
	margin-bottom: 35px;
	border-bottom: 4px solid var(--cor5);
	border-radius: 15px;
}

.capa img{
	border-radius: 7px;
	margin: 0 18px 18px -3px;
}

.menu{
	text-align: center;
	display: block;
	width: 318%;
	background: linear-gradient(to bottom, var(--cor1), var(--cor3));
	padding-top: 5px;
}

nav li{
	display: inline-block;
	background-color: var(--cor3);
	padding: 10px;
	border-radius: 7px;
	margin: 10px;
	border-bottom: 3px solid var(--cor5);
}

nav li:hover{
	background-color: var(--cor5);
	color: white;
}
nav a{
	color: black;
}

.video_centro{
	width: 371px;
	display: inline-block;
	padding-left: 30px;
	margin: auto;
}

.principal{
	width: 322%;
	padding: 0;
}


.principal .texto_centro{
    width: 65%;
    display: inline-block;
    margin-bottom: 45px;
}


.texto_centro h2{
	font-family: 'Croissant One', serif;
	padding: 15px;
	font-weight: bold;
}

.texto_centro p {
	text-indent: 1.5em;
}

.convenios{
	border-top: 2px solid var(--cor2);
	border-bottom: 2px solid var(--cor2);
	border-radius: 12px;
	width: 99%;
}

.principal_clinica .convenios{
	border-top: 2px solid var(--cor2);
	border-bottom: 2px solid var(--cor2);
	border-radius: 12px;
	width: 312%;
}

.convenios img{
	width: 14.5%;
	margin-left: 49px;
	border-radius: 7px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.convenios img:hover{
	border: 1px solid transparent;
	cursor: pointer;
	transform: translate(4px);
}



aside{
    text-align: center;
   	width: 316%;
}

aside li{
	list-style-type: none;
	border: 2px solid var(--cor5);
	margin: 5px;
	padding: 6px;
	border-radius: 7px;
	background-color: var(--cor3);
	display: inline-block;

}

aside li:hover{
	background-color:var(--cor5) ;
	color: black;
	cursor: pointer;
}

aside h2{
	margin: 22px 0 12px 0;
	text-transform: uppercase;
	font-size: 1.8em;
	border-top: 2px solid var(--cor2);
	border-radius: 12px;
	font-family: 'Cinzel', serif;
	padding-top: 12px;
}


aside button{
	padding: 10px;
	margin-bottom: 10px;
	background-color: var(--cor3);
	border-radius: 7px;
	border: 2px solid var(--cor5);
	width: 65%;
}

aside button:hover{
	background-color: var(--cor5);
	color: black;
}



/* ------------------------- A profissonal  ------------------------------------ */




.principal_aprofissional{
	width: 317%;
}

.principal_aprofissional .textos{
	margin-top: 65px;
	height: 702px;

}

.principal_aprofissional .textos .textos_paragrafos{

    position: relative;
    height: 560px;
    width: 63%;
    bottom: 580px;
    left: 415px;

}


p::first-letter {
  text-transform: uppercase;
}



.principal_aprofissional .textos .textos_imagens_aprofissional{
	width: 37%;
}

.principal_aprofissional .textos .textos_imagens_aprofissional h2{
	text-align: center;
	padding: 10px 10px 0 10px;
	font-family: 'Croissant One', serif;
	border-left: 2px solid var(--cor5);
	border-right: 2px solid var(--cor5);
	border-radius: 7px;
	margin-top: 12px;
	margin-left: auto;
	margin-right: auto;
}

#h21{
	width: 45%;	
}

#h22{
	width: 72%;	
}

#h23{
	width: 72%;	
}

#h24{
	width: 53%;	
}

.principal_aprofissional .textos .textos_imagens_aprofissional img{
	margin: auto;
	padding: 10px;
	width: 100%;
	border-radius: 31px;
}


/* ------------------------- CLINICA ------------------------------------ */


.caixa1{
	width: 317%;
	height: 483px;
	margin-bottom: 10px;
}


.caixa1 .titulo_imagem{S
	width: 100%;
}


.caixa1 .titulo_imagem .imagem{
	 width: 40%;
    height: 410px;
    background-image: url(assets/clinica/clinicaofc1.jpg);
    background-size: cover;
    background-position: 40% 16%;
    border: 3px solid var(--cor5);
    margin-left: 59%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 7px;
}

.caixa1 .titulo_imagem .titulo{
	padding-top: 10px;
	margin-left: 66%;
	font-family: 'Croissant One', serif;
}

.caixa1 .texto{
	width: 57%;
	margin: 10px;
	padding: 10px;
	position: relative;
	bottom: 436px;
}



.caixa2{
	width: 317%;
	height: 483px;
	margin-bottom: 10px;
}


.caixa2 .titulo_imagem{
	width: 100%;
}


.caixa2 .titulo_imagem .imagem{
	width: 40%;
    height: 410px;
    background-image: url(assets/clinica/clinica2.jpg);
    background-size: cover;
    background-position: 40% 16%;
    border: 3px solid var(--cor5);
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 7px;
}

.caixa2 .titulo_imagem .titulo{
	padding-top: 10px;
	margin-left: 4%;
	font-family: 'Croissant One', serif;
}

.caixa2 .texto{
	width: 57%;
	margin: 10px;
	padding: 10px;
	position: relative;
	bottom: 436px;
	margin-left: 42%;
}



.caixa3{
	width: 317%;
	height: 483px;
	margin-bottom: 10px;
}


.caixa3 .titulo_imagem{
	width: 100%;
}


.caixa3 .titulo_imagem .imagem{
	 width: 40%;
    height: 410px;
    background-image: url(assets/clinica/clinicaofc.jpg);
    background-size: cover;
    background-position: 40% 16%;
    border: 3px solid var(--cor5);
    margin-left: 59%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 7px;
}

.caixa3 .titulo_imagem .titulo{
	padding-top: 10px;
	margin-left: 61%;
	font-family: 'Croissant One', serif;
}

.caixa3 .texto{
	width: 57%;
	margin: 10px;
	padding: 10px;
	position: relative;
	bottom: 436px;
}



.caixa4{
	width: 317%;
	height: 483px;
	margin-bottom: 10px;
}


.caixa4 .titulo_imagem{
	width: 100%;
}


.caixa4 .titulo_imagem .imagem{
	width: 40%;
    height: 410px;
    background-image: url(assets/clinica/clinicaofc2.jpg);
    background-size: cover;
    background-position: 40% 16%;
    border: 3px solid var(--cor5);
    margin-left: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 7px;
}

.caixa4 .titulo_imagem .titulo{
	padding-top: 10px;
	margin-left: 4%;
	font-family: 'Croissant One', serif
}

.caixa4 .texto{
	width: 57%;
	margin: 10px;
	padding: 10px;
	position: relative;
	bottom: 436px;
	margin-left: 42%;
}

.texto{
	text-indent: 25px;
}

/* ------------------------- A profissonal  ------------------------------------ */

.principal_convenios .imagem{
	margin: 10px;
	width: 15%;
	display: inline-block;
	position: relative;
    bottom: 61px;
}


.principal_convenios{
	width: 318%;
}

.principal_convenios .titulo{
	width: 100%;
	text-align: center;
	margin-top: 25px;

}

.principal_convenios .titulo h2{
	font-family: 'Croissant One', serif
}

.principal_convenios .texto{
	width: 75%;
	margin: 10px;
	display: inline-block;

}


.convenio1, .convenio2, .convenio3, .convenio4, .convenio5{
	height: 265px;
	margin: 10px;
	padding: 10px;
}

.convenio1:hover, .convenio2:hover, .convenio3:hover, .convenio4:hover, .convenio5:hover{
	cursor: pointer;
	background-color: var(--cor3);
	border-radius: 7px;

}

.principal_convenios a{
	text-decoration: none;
	color: black;

}

/* ------------------------------------------------------- rules ------------------------------------------------------------- */

@media(max-width: 453px){
.container{
	width: 429px;
	}
	.cabecalho h1{
		width: 410px;
		font-size: 2.1em;
	}
	
}


@media(max-width: 502px){
	.convenios img{
		width: 139px;
	}
}




@media(max-width: 1199px){
	.principal .texto_centro{
		width: 58%;
		font-size: 0.9em;
	}
		.convenios img{
			width: 13%;
	}


.principal_aprofissional .textos .textos_paragrafos{
      position: relative;
    height: 640px;
    width: 64%;
    bottom: 528px;
    left: 341px;
}

.principal_aprofissional .textos p{
	font-size: 1em;
}


.textos_imagens_aprofissional #h21{
	width: 52%;
}

.textos_imagens_aprofissional #h22{
	width: 84%;
}

.textos_imagens_aprofissional #h23{
	width: 84%;
}

.textos_imagens_aprofissional #h24{
	width: 83%;
}


.caixa1, .caixa2, .caixa3, .caixa4{
	height: 520px;
}

.caixa1 .texto, .caixa2 .texto, .caixa3 .texto, .caixa4 .texto{
	font-size: 0.9em;
}

.caixa1 h2, .caixa2 h2, .caixa3 h2, .caixa4 h2{
	font-size: 1.6em;
}

.principal_convenios .imagem{
	margin: 10px;
    width: 19%;
    display: inline-block;
    position: relative;
    bottom: 87px;
}

.convenio1, .convenio2, .convenio3, .convenio4, .convenio5{
	height: 292px;
	margin: 10px;
	padding: 10px;
}

}

@media(max-width: 991px){

.principal .texto_centro{
		width: 40%;
		font-size: 0.6em;
	}

.principal_aprofissional .textos .textos_paragrafos{
    position: relative;
    height: 640px;
    width: 67%;
    bottom: 378px;
    left: 251px;
}

.principal_aprofissional .textos{
	height: 452px;

}

.principal_aprofissional .textos p{
	font-size: 0.7em;
}

.textos_imagens_aprofissional #h21{
	width: 73%;
	font-size: 1.4em;
}

.textos_imagens_aprofissional #h22{
	width: 85%;
    font-size: 1.4em;
}

.textos_imagens_aprofissional #h23{
	width: 85%;
    font-size: 1.4em;
}

.textos_imagens_aprofissional #h24{
	width: 62%;
	font-size: 1.4em;
}

.caixa1, .caixa2, .caixa3, .caixa4{
	height: 530px;
}

.caixa1 .texto, .caixa2 .texto, .caixa3 .texto, .caixa4 .texto{
	font-size: 0.8em;
}

.caixa1 h2, .caixa2 h2, .caixa3 h2, .caixa4 h2{
	font-size: 1.2em;
}

.principal_convenios .imagem{
	margin: 10px;
    width: 19%;
    display: inline-block;
    position: relative;
    bottom: 87px;
}

.convenio1, .convenio2, .convenio3, .convenio4, .convenio5{
	height: 292px;
	margin: 10px;
	padding: 10px;
}

.principal_convenios .texto{
width: 73%;
    font-size: 0.9em;
    position: relative;
    left: 40px;
}

}

@media(max-width: 767px){
	.principal .texto_centro{
		width: 100%;
		font-size: 0.9em;
	}

	.video_centro{
	width: 100%;
	padding-bottom: 35px;
	}

.principal_aprofissional .textos{
	height: 422px;

}
.principal_aprofissional .textos .textos_paragrafos{
    position: relative;
    height: 640px;
    width: 73%;
    bottom: 318px;
    left: 171px;
}

.principal_aprofissional .textos p{
	font-size: 0.6em;
}	

.textos_imagens_aprofissional #h21{
	width: 85%;
    font-size: 1.0em;
}

.textos_imagens_aprofissional #h22{
	width: 85%;
    font-size: 1.0em;
}

.textos_imagens_aprofissional #h23{
	width: 85%;
    font-size: 1.0em;
}

.textos_imagens_aprofissional #h24{
	width: 85%;
    font-size: 1.0em;
}

.caixa1, .caixa2, .caixa3, .caixa4{
	height: 521px;
}

.caixa1 .texto, .caixa2 .texto, .caixa3 .texto, .caixa4 .texto{
	font-size: 0.6em;
}

.caixa1 h2, .caixa2 h2, .caixa3 h2, .caixa4 h2{
	font-size: 0.9em;
}

.principal_convenios .imagem{
	margin: 10px;
    width: 19%;
    display: inline-block;
    position: relative;
    bottom: 87px;
}

.principal_convenios .imagem img{
	width: 106px;
}

.convenio1, .convenio2, .convenio3, .convenio4, .convenio5{
	height: 510px;
	margin: 10px;
	padding: 10px;
}

.principal_convenios .texto{
	width: 73%;
    font-size: 0.9em;
    position: relative;
    bottom: 91px;
}

.principal_convenios .titulo{
	position: relative;
	left: 25px;
}

}

@media(max-width: 523px){
.principal_aprofissional .textos .textos_paragrafos{
    position: relative;
	height: 640px;
    width: 75%;
    bottom: 258px;
    left: 158px;
}
}

.principal_aprofissional .textos p{
	font-size: 0.5em;
}	


@media(max-width: 514px){
.container{
	width: 439px;
}	
	.capa img{
		width: 350%;
	}

.principal_aprofissional .textos{
	height: 472px;

}

.principal_aprofissional .textos .textos_paragrafos{
  position: relative;
  top: -45px;
  left: 5px;
  width: 363px;	
}


.principal_aprofissional .textos p{
	font-size: 0.7em;

}

.textos_imagens_aprofissional #h21{
	width: 265%;
    font-size: 1.0em;
    position: relative;
    bottom: 53px;
}

.textos_imagens_aprofissional #h22{
	width: 265%;
    font-size: 1.0em;
    position: relative;
    bottom: 53px;
}

.textos_imagens_aprofissional #h23{
	width: 265%;
    font-size: 1.0em;
    position: relative;
    bottom: 53px;
}

.textos_imagens_aprofissional #h24{
	width: 265%;
    font-size: 1.0em;
    position: relative;
    bottom: 53px;
}

.textos_imagens_aprofissional img{
display: none;
}

.principal_convenios .imagem{
	margin: 10px;
    width: 19%;
    display: block;
    position: relative;
    bottom: 74px;;
}

.principal_convenios .imagem img{
	width: 81px;
}

.convenio1, .convenio2, .convenio3, .convenio4, .convenio5{
	height: 580px;
	margin: 10px;
	padding: 10px;
}

.principal_convenios .texto{
	width: 73%;
    font-size: 0.9em;
    position: relative;
    bottom: 75px;
}

.principal_convenios .titulo{
	position: relative;
	left: 25px;
	display: block;
}

.principal_convenios .titulo h2 {
	 font-size: 1.6em;
    position: relative;
    bottom: 10px;
	}
}